.services {
    padding: 100px 0;
    background-color: #FFFFFF;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.services-title {
    font-size: 48px;
    font-weight: bold;
    color: #191918;
}

.services-subtitle {
    font-size: 18px;
    color: #666;
    max-width: 400px;
    text-align: right;
    font-family: 'SF Pro Display', sans-serif;
  font-weight: 300;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.service-card {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5));
    padding: 162px 36px 45px 36px;
    border-radius: 10px;

}

.card-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.tag {
    background: rgba(139, 115, 85, 0.1);
    color: #ffffff;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.card-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card-description {
    color: #ffffff;
    opacity: 70%;
    line-height: 1.3;
    font-size: 14px;
}

.services h2{
    font-size: 80px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .services {
        padding: 60px 0;
    }
    
    .services-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
    
    .services-title {
        font-size: 36px;
        margin-bottom: 15px;
    }
    
    .services-subtitle {
        text-align: left;
        max-width: 100%;
    }
    
    .services-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    
    .service-card {
        padding: 100px 25px 30px 25px;
    }
    
    .services h2 {
        font-size: 48px;
    }
    
    .card-title {
        font-size: 20px;
    }
}